body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, sans-serif;
  background-color: #222222;
  color: #e79be0;
  text-align: center;
  padding: 20px;
}

/* Overskrift */
h1 {
  color: #E1D4E2;
  font-size: 2.5rem;  /* endre størrelse */
}
/* Navigation */
ul {
  display: flex; /* Arrange items in a row */
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #634460;
}

ul li {
  /* Remove float and use flex layout */
  /* Optional: add margin for spacing */
  margin: 0 10px; /* Horizontal spacing between items */
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #a1719c;
}

/* Tekstboks */
input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  border: 2px solid #E1D4E2;
  border-radius: 10px;
}

/* Knapp */
button {
  background-color: #434343;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #005fa3;
}

/* Checkbokser + labels */
.option {
  margin: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #e79be0; /* fargen på haken */
}
label {
  font-size: 1.2rem;
  margin-left: 5px;
}